/* * {
  outline: 1px solid limegreen !important;
 } */
body {
  background-color: #bfd8d2;
  font-family: "Asap", sans-serif;
  margin: 0;
  color: #1e3f48;
}

/*LOGIN*/
/*LOGO*/
#containerLogo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 60%;
  height: 60%;
  margin: 10% 0 0 0;
}

/*Container Login*/
.divContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding-inline-start: 40px;
  box-sizing: border-box;
}

input,
#signUpGoogle {
  background-color: rgb(247 243 242);
  width: 80%;
  height: 4em;
  margin: 2em 0 0 0;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.forget {
  margin-block-start: 10px;
}

.hrefForget,
.hrefLogin,
.hrefRegister {
  text-decoration: none;
  font-weight: bold;
  color: #1e3f48;
}

.hrefForget:hover,
.hrefRegister:hover {
  color: white;
}

.buttonLogin {
  background-color: #dcb239;
  text-decoration: none;
  width: 60%;
  height: 43px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}

.buttonLogin:hover {
  background-color: #df744a;
}

.hrefLogin {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

/*CotainerLines*/
#containerlines {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.space {
  height: 2px;
  padding: 0;
  width: 5px;
}

#o {
  color: #1e3f48bf;
  font-size: 1.5em;
}

.line {
  border-top: 1px solid #1e3f4866;
  padding: 0;
  width: 100%;
}

/*Botón Google*/
#signUpGoogle {
  background-color: white;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  font-size: 1em;
  font-weight: bold;
  width: 60%;
  color: #1e3f48;
  height: 43px;
  margin: -10px 0 20px 0;
}

.google {
  width: 25px;
  height: 25px;
}

/*REGIsSTER*/
.headerRegister {
  background-image: url(./images/header.png);
  height: 15vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-position: center;
}

h1 {
  font-family: "Pacifico", cursive;
}

.statement {
  font-size: 1.5em;
}

.ClubMatch {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.divButtons {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-block-start: 2em;
  flex-wrap: wrap;
}

#OK,
#back,
#buttonPost {
  background-color: #dcb239;
  text-decoration: none;
  width: 100px;
  height: 43px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  border: none;
  margin: 0 0 1em 0;
}

#OK:hover,
#back:hover {
  background-color: #df744a;
}

.hrefBack,
.submitRegister {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}



/*POSTS*/
/* #bodyPosts {
  background: rgba(254, 221, 205, 0.5);
} */

.divPosts {
  background-color: #feddcd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#divProfile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 0 2em 0;
}

#imageProfile {
  border-radius: 50%;

}

#divCreatePost {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  width: 70%;
}

.createPost {
  padding: 20px;
  margin: 0;
  background: #FFFFFF;
  border-radius: 0;
  box-shadow: none;
}

#titlePost {
  border-radius: 10px 10px 0 0;
}

#linkPost {
  border-radius: 0 0 10px 10px;
}

.buttonPost {
  width: 75px;
  height: 37px;
  background: #1E3F48;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin: 20px 0 0 200px;
  border: none;
}

#divPrintPost {
  width: 80%;
}

#containerPost {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin:25px 0 ;
  box-sizing: content-box;
  padding: 10px 10px;
}

#userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* #userPhoto {
  height: 50px;
  width: 50px;
  border-radius: 50%;
} */

#userName {
  font-size: 0.9em;
}

#titleP {
  margin-inline-start: 55px;
}

#descriptionPost,
#linkP {
  margin:10px 30px;

}

#linkP {
  color: blue;
  }

#link {
  width: 50px;
  height: 50px;
}

#buttonLike {
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

#imgBtnLike {
   width: 70px;
  height: 70px;

}

/*  Código de nuestro menu */

.headerPost {
  background-color: #bfd8d2;
  width: 100%;
  padding: 0 0.5em;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.clubMatchTitle {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.buttonMenu {
  background-image: url(https://www.samueldiosdado.com/wp-content/uploads/2017/08/Men%C3%BA-hamburguesa-herramienta-practica-o-icono-inutil-624x522.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: initial;
  width: 50px;
  height: 50px;
  border: none;
  display: none;
}


.ulPosts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.liMenu {
  margin: 0.5em;
  list-style: none;
}
#logOut{
  background: none;
  border: none;
  color: #1e3f48;
  font-family: "Asap", sans-serif;
  font-size: 16px;
}

.imgHeader {
  width: 100px;
  height: 100px;
}
@media (min-width: 700px) {
  #root {
    display: flex;
    justify-content: center;
  }

  .loginPage,
  .container {
    margin: 0 auto;
    border-radius: 5%;
    background-color: rgba(191, 216, 210, 77%);
  }

  body {
    background-image: url(https://payload.cargocollective.com/1/18/592058/14124816/HEADER.gif);
    background-size: contain;
    background-position: center;
    background-blend-mode: screen;
    padding: 30px;
  }
  #bodyPosts {
    background-image: url(https://payload.cargocollective.com/1/18/592058/14124816/HEADER.gif);
    background-size: contain;
    background-position: center;
    background-blend-mode: screen;
  }
  .divPosts {
    width: 100%;
    background: #feddcdc9;
  }
  .forget,
  .redirectionRegister {
    font-size: 1.5em;
  }

  #signUpGoogle {
    margin: -10px 0 20px 0;
  }

  header {
    border-radius: 20px;
  }
}

@media screen and (max-width: 700px) {

  .navPosts {
    width: 100%;
    display: none;
  }

  .navPosts.active {
    display: block;
  }

  .buttonMenu {
    display: block;
    cursor: pointer;
  }

  .ulPosts {
    flex-direction: column;
  }

  .liMenu {
    margin: 1rem 0;
    list-style: none;
  }



}